<header>
    <div class="headerCode">
        <div class="logoWithName">
           <div class="logoMin">
            <img src="assets/images/image001.png" style="height: 51px; " alt="logo">
           </div>
        </div>
        <div class="profileDetails">
            <a href="javascript:void(0)" class="profile"><img src="assets/images/profile.jpg" alt="profile">
                Akash Mishra
            </a>
            <ul>
                <li class="profileFl">
                    <img src="assets/images/profile.jpg" alt="profile">
                    <div class="profileCon">
                        <h2>Akash Mishra </h2>
                        <p>Administrator</p>
                    </div>
                </li> 
                <li class="user"><a [routerLink]="['/']"><span><img src="assets/images/logout.svg" alt="logout">Logout</span></a></li>
            </ul>
        </div>
    </div>
</header>