<section>
    <app-sidenav></app-sidenav>
    <app-header></app-header>
    <div class="commonContent">
        <h2 class="main">Verification Management
        </h2>
        <div class="whiteBox">
             
            <form action="">
                <div class="allFilter">
                    <div class="filterFlex">
          
                        <div class="form-group">
                            <label for="" class="label">Search</label>
                            <input type="text" placeholder="Search" class="form-control formControl">
                        </div>
                        <div class="applyBtn">
                            <a href="javascript:void(0)" class="btns">Search</a>
                        </div>
                    </div>
     
                </div>
            </form>
            <!-- <div class="filterFlex2">
                <ul>
                    <li>
                        <input type="radio" name="date">
                        <label for="">Today</label>
                    </li>
                </ul>
            </div> -->
        </div>
        <div class="whiteBox">
            <div class="tableList">
                <div class="table-responsive scrollbar2" id="style-4">
                    <table class="table force-overflow2" style="width: 122%;">
                        <thead>
                            <tr>
                                <th>User Id
                                </th>
                                <th>Name
                                </th>
                                <th>Number</th>
                                <th>Location
                                </th>
                                <th>Uploaded On</th>
                                <th>Uploaded By
                                </th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a class="colorRed">Tya343</a></td>
                                <td>Deepanshu</td>
                                <td>8126362520
                                </td>
                                <td>Meerut</td>
                                <td>24-10-21/02:30 p.m</td>
                                <td>Employee Name
                                </td>
                                <td><span class="Pending">Pending</span></td>
                                <td><span class="actionAll">
                                    <a [routerLink]="['/verification-management-view']" class="eye"><i class="fa fa-eye"></i></a>
                                      <a href="javascript:void(0)" data-toggle="modal" data-target="#disApproved" class="edit"><i class="fa fa-times"></i></a>
                                      <a href="javascript:void(0)" data-toggle="modal" data-target="#Approved" class="edit"><i class="fa fa-check"></i></a>
                                    </span>
                                </td>
                            </tr>
                         
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="paginationAll">
                <div class="paginationRight">
                    <ul>
                        <li><a href="javascript:void(0)"><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="javascript:void(0)" class="colorBlue"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li><a href="javascript:void(0)">1</a></li>
                        <li><a href="javascript:void(0)" class="active">2</a></li>
                        <li><a href="javascript:void(0)">3</a></li>
                        <li><a href="javascript:void(0)">4</a></li>
                        <li><a href="javascript:void(0)" class="colorBlue"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="ModalBox">


        <div id="Approved" class="modal fade in" role="dialog">
            <div class="modal-dialog">   
                <div class="modal-content"> 
                    <div class="modal-body"> 
                        <div class="Decline">
                            <a href="javascript:void(0);" class="CloseModal" data-dismiss="modal">×</a>
                            <h3>Approved</h3>
                            <p>Are you sure you want to Approved this Customer ?</p>
                            <h4> 
                                <a href="javascript:void(0);" data-dismiss="modal">no</a>
                                <a href="javascript:void(0);" data-dismiss="modal">Yes</a>
                            </h4>
                        </div>
                    </div> 
                </div>    
            </div>
        </div>
        <div id="disApproved" class="modal fade in" role="dialog">
            <div class="modal-dialog">   
                <div class="modal-content"> 
                    <div class="modal-body"> 
                        <div class="Decline">
                            <a href="javascript:void(0);" class="CloseModal" data-dismiss="modal">×</a>
                            <h3>Disapproved</h3>
                            <p>Are you sure you want to disapproved this Customer ?</p>
                            <h4> 
                                <a href="javascript:void(0);" data-dismiss="modal">no</a>
                                <a href="javascript:void(0);" data-dismiss="modal">Yes</a>
                            </h4>
                        </div>
                    </div> 
                </div>    
            </div>
        </div>

    </div>
</section>