<section>
    <div class="loginbg">
        <div class="loginBox">
            <div class="logo">
                <img src="assets/images/image001.png" style="height: 80px; width: 80px" alt="logo">
            </div>
            <form action="">
                <div class="form-group">
                    <label for="" class="label">Email Id</label>
                    <input type="text" class="form-control formControl" placeholder="Email Id">
                </div>
                <div class="form-group PasswordPos">
                    <label for="" class="label">Password</label>
                    <input type="password" class="form-control formControl" placeholder="Password">
                </div>
                <div class="" style="margin-top: 35px; ">
                    <a href="javascript:void(0)" [routerLink]="['/dashboard']" class="btn-style-one" style="left: 36%;">Submit</a>
                </div>
            </form>
        </div>
    </div>
    <div id="keyboard" style="text-align:center ; display:none"  >
        <div class="simple-keyboard" ></div>
    </div>
    
</section>