<section>
    <app-sidenav></app-sidenav>
    <app-header></app-header>

    <div class="commonContent">
        <div class="WrapperBox">

            <div class="SearchBox">
                <h2 class="main">Verification Management/View Request Details
                </h2>
            </div>

            <div class="OrderDetails">
                <h5>Customer Personal Details</h5>
                <article>
                    <aside>
                        <p>
                            <label>Name</label>
                            <span>Sharad Garg</span>
                        </p>
                        <p>
                            <label>Mobile Number</label>
                            <span>+91 9865231470</span>
                        </p>

                    </aside>

                    <aside>
                        <p>
                            <label>Email Address</label>
                            <span>+91 9865231470</span>
                        </p>
                        <p>
                            <label>Password</label>
                            <span>xxxxxxxxxx</span>
                        </p>
                    </aside>

                    <aside>
                        <figure>
                            <img src="assets/images/profile.jpg">
                        </figure>
                    </aside>
                </article>
            </div>

            <div class="OrderDetails">
                <h5>Customer Shop Details</h5>
                <div class="product">
                    <article>

                        <aside>
                            <p>
                                <label>Shop Name</label>
                                <span>Sharad Garments Pvt Ltd</span>
                            </p>
                            <p>
                                <label>Shop Category</label>
                                <span>Garments</span>
                            </p>
                            <p>
                                <label>Shipping Address</label>
                                <span>Enter Street/Apartment/Plot <br>Enter Zipcode
                                    State City Enter <br>Area/Zone</span>
                            </p>
                            <p>
                                <label>Verification Document Type</label>
                                <span>Sharad.fjgkl@gmail.com</span>
                            </p>

                        </aside>

                        <aside class="Verificationimg">
                            <figure>
                                <img src="assets/images/profile.jpg">
                                
                            </figure>
                            <p> <span >Verification Document Image</span></p>
                        </aside>
                    </article>

                </div>

            </div>

            <div class="OrderDetails">
               
                <h5>Employee  Details</h5>
                <article>
                    <aside>
                        <p>
                            <label>Employee Name </label>
                            <span>Prashant  <sup style="color: #ff2604;">(Emp0021)</sup></span>
                         
                        </p>
                        <p>
                            <label>Employee Mob. </label>
                            <span>(+91 9865321470)</span>
                        </p>
                    </aside>
                    <aside>
                        
                        <figure>
                            <img src="assets/images/profile.jpg">
                        </figure>
                    </aside>
                </article>
            </div>
           

        </div>
    </div>
</section>