<section>
    <app-sidenav></app-sidenav>
    <app-header></app-header>

    <div class="commonContent">
        <div class="WrapperBox">

            <div class="SearchBox">
                <h2 class="main">Driver Management/Order History/View Order
                </h2>
            </div>

            <div class="OrderDetails">
                <h5>Order Details</h5>
                <article>
                    <aside>
                        <p>
                            <label>Order Id</label>
                            <span>U-030</span>
                        </p>
                        <p>
                            <label>Status</label>
                            <span>Completed</span>
                        </p>
                    </aside>
                    <aside>
                        <p>
                            <label>Date & Time</label>
                            <span>15 Dec 2021 & 10:00 A.M</span>
                        </p>
                        <p>
                            <label>Order Amount</label>
                            <span>$ 1,512.00</span>
                        </p>
                    </aside>
                </article>
            </div>

            <div class="OrderDetails">
                <h5>Product Details</h5>
                <div class="product">
                    <h6>Product Name</h6>
                    <article class="ProductArt">

                        <aside>

                            <p>
                                <label>Category</label>
                                <span>Garments</span>
                            </p>
                            <p>
                                <label>Cost</label>
                                <span>$ 05.00</span>
                            </p>

                        </aside>
                        <aside>
                            <p>
                                <label>Subcategory</label>
                                <span>Men's Shirts</span>
                            </p>

                        </aside>
                        <aside>
                            <figure>
                                <img src="assets/images/profile.jpg">
                            </figure>
                        </aside>
                    </article>
                    <h6>Product Name</h6>
                    <article>
                       
                        <aside>

                            <p>
                                <label>Category</label>
                                <span>Garments</span>
                            </p>
                            <p>
                                <label>Cost</label>
                                <span>$ 05.00</span>
                            </p>

                        </aside>
                        <aside>
                            <p>
                                <label>Subcategory</label>
                                <span>Men's Shirts</span>
                            </p>

                        </aside>
                        <aside>
                            <figure>
                                <img src="assets/images/profile.jpg">
                            </figure>
                        </aside>
                    </article>
                </div>

            </div>
            <div class="DeliveryAddress">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="OrderDetails  OrderDetailsDelivery">
                            <article>
                                <div class="Name">
                                    <h5>Delivery Address</h5>
                                    <p>(+91 9865321470)</p>
                                </div>
                                <p class="Address">
                                    H 146/147, Second Floor<br>

                                    H block, Noida 63, Uttar Pradesh,<br> India

                                    Zipcode - 124532
                                </p>


                            </article>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="Coupon">
                            <div _ class="applyBtn">
                                <h5>Applied Coupon</h5>
                                <a href="javascript:void(0)" class="btns">Get40%</a>
                            </div>
                            <div _ class="applyBtn">
                                <h5>Payment Mode</h5>
                                <a href="javascript:void(0)" class="btns">Cash on delivery</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="OrderDetails">
                <h5>Product Details</h5>
                <article>

                    <aside>
                        <p>
                            <label>Sub-total Price</label>
                            <span>$ 100.00</span>
                        </p>
                        <p>
                            <label>Tax & Fees Charges</label>
                            <span>$ 100.00</span>
                        </p>
                    </aside>
                    <aside>
                        <p>
                            <label>Discount Amount</label>
                            <span>25 </span>
                        </p>
                        <p>
                            <label>Total Price</label>
                            <span>$ 100.00</span>
                        </p>
                    </aside>
                </article>
            </div>

            <div class="OrderDetails">
                <h5>Driver Details</h5>
                <article>
                    <aside>
                        <p>
                            <label>Driver Name</label>
                            <span>Prashant</span>
                         
                        </p>
                        <p>
                            <label>Driver Mob.</label>
                            <span>(+91 9865321470)</span>
                        </p>
                    </aside>
                    <aside>
                        <figure>
                            <img src="assets/images/profile.jpg">
                        </figure>
                    </aside>
                </article>
            </div>
            <div class="OrderDetails">
                <h5>Customer Details</h5>
                <article>
                    <aside>
                        <p>
                            <label>Customer Name</label>
                            <span>Prashant</span>
                         
                        </p>
                        <p>
                            <label>Customer Mob.</label>
                            <span>(+91 9865321470)</span>
                        </p>
                    </aside>
                    <aside>
                        <figure>
                            <img src="assets/images/profile.jpg">
                        </figure>
                    </aside>
                </article>
            </div>

        </div>
    </div>
</section>