<section>
    <app-sidenav></app-sidenav>
    <app-header></app-header>
    <div class="commonContent">
        <h2 class="main">Add New User
        </h2>
        <div class="whiteBox">
            <h3 class="stepHead">User Details </h3>

     <div class="row formMargin">
         <div class="col-sm-7">
            <form action="" >
                <div class="form-group">
                    <label for="" class="label">Name</label>
                    <input type="text" class="form-control formControl" placeholder="Name">
                </div>
                <div class="Download">
                    <div class="AttachFile">

                        <div class="form-group">
                            <label for="" class="label">Image</label>
                            <div class="FileMAIN">
                               
                                <span style="width: 100%;"> <i class="fa fa-upload" aria-hidden="true"></i> Upload Image
                                    <input type="file" name="">
                                </span>
                               
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="label">Mobile Number
                    </label>
                    <input type="text" class="form-control formControl" placeholder="Mobile Number">
                </div>
                <div class="form-group">
                    <label for="" class="label">Email Id</label>
                    <input type="text" class="form-control formControl" placeholder="Email Id (Optional)">
                </div>
                <div class="form-group">
                    <label for="" class="label">Password</label>
                    <input type="text" class="form-control formControl" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="" class="label">Confirm Password
                    </label>
                    <input type="text" class="form-control formControl" placeholder="Confirm Password">
                </div>
                <div class="nextBtn">
                    <button type="button" class="btns">Submit</button>
                </div>
            </form>
         </div>
     </div>
        </div>
    </div>
</section>