<section>
    <app-sidenav></app-sidenav>
    <app-header></app-header>
    <div class="commonContent">
        <h2 class="main">Dashboard
        </h2>
        <div class="whiteBox">
            <h2 class="head">System Overview</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="overviewBox">
                        <h2>All Users

                        </h2>
                        <div class="overFlex">
                            <img src="assets/images/users.svg" alt="users">
                            <h3>29</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>