<section>
    <div class="loginbg">
        <div class="loginBox">
            <div class="logo">
                <img src="assets/images/logo.png" style="height: 80px; width: 80px" alt="logo">
            </div>
            <div class="logoStatic">
                <h2>Forgot Password</h2>
             
            </div>
            <form action="">
                <div class="form-group">
                    <label for="" class="label">Email Id</label>
                    <input type="text" class="form-control formControl" placeholder="Email Id">
                </div>
                <div class="loginBtn">
                    <a href="javascript:void(0)" [routerLink]="['/reset-password']" class="btns">Send Reset Password Link</a>
                </div>
            </form>
        </div>
    </div>
</section>