<section>
    <div class="sidenav">
   
        <div class="sidenavBar scrollbar" id="style-3">
            <ul class="force-overflow">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a href="javascript:void(0)" [routerLink]="['/dashboard']"><span><img src="assets/images/dashb.png" alt="nav"></span>Dashboard</a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a href="javascript:void(0)" [routerLink]="['/customer-management']"><span><img src="assets/images/customer-img.png" alt="nav"></span>User Management</a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a href="javascript:void(0)" [routerLink]="['/role-permission-management']"><span><img src="assets/images/rolepermissions-img.png" alt="nav"></span>Role & Permission </a>
                </li>
                <!-- <li [routerLinkActive]="['active']">
                    <a href="javascript:void(0)" [routerLink]="['/location-management']"><span><img src="assets/images/location-img.png" alt="nav"></span>Location Management</a>
                </li> -->
            
            </ul>
        </div>
    </div>
</section>